<h2>Dashboard</h2>
<p>This section will have alerts/notifications that should be prominent for the user.</p>
<p>Click on the "Net worth" link on the left to see a report</p>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
    <div class="card-header">
      <h5>Cash</h5>
    </div>
      <div class="card-body">
        <h6>$234.66 (this is hardcoded)</h6>
        <a href="#" class="btn btn-primary">See liquid accounts</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
    <div class="card-header">
      <h5>Investments</h5>
    </div>
      <div class="card-body">
        <p class="card-text">$10,234.18 (this is hardcoded)</p>
        <a href="#" class="btn btn-primary">See investment accounts</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-dark bg-warning mb-3">
    <div class="card-header">
      <h5>Budgets</h5>
    </div>
      <div class="card-body">
        <p class="card-text"><strong>3</strong> of your budgets have been exceeded! (this is hardcoded)</p>
        <a href="#" class="btn btn-dark">See budgets</a>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 1rem;">
  <div class="col-sm-4">
    <div class="card text-dark bg-warning mb-3">
    <div class="card-header">
      <h5>Accounts needing attention</h5>
    </div>
      <div class="card-body">
        <p class="card-text"><strong>1</strong> account(s) appear to be missing statements (this is hardcoded)</p>
        <a href="#" class="btn btn-dark">See accounts</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
    <div class="card-header">
      <h5>Foo</h5>
    </div>
      <div class="card-body">
        <p class="card-text">$10,234.18 (this is hardcoded)</p>
        <a href="#" class="btn btn-primary">See cash assets</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
    <div class="card-header">
      <h5>Bar</h5>
    </div>
      <div class="card-body">
        <p class="card-text"><strong>3</strong> of your budgets have alerts! (this is hardcoded)</p>
        <a href="#" class="btn btn-primary">See cash assets</a>
      </div>
    </div>
  </div>
</div>