<h2>Import Status</h2>
<br>
<br>

<div class="row">
  <div class="col-sm-2">
    <h3>Status</h3>
  </div>
  <div class="col-sm-10">
    <h3>{{ .Status }} {{ if eq .Status "COMPLETED" }} &#x2705; {{ end }}</h3>
  </div>
  <div class="col-sm-2">
    <h4>Transactions imported</h4>
  </div>
  <div class="col-sm-10">
    <h4>{{ .TransactionsImported }}</h4>
  </div>
  <div class="col-sm-2">
    <h4>Transactions skipped</h4>
  </div>
  <div class="col-sm-10">
    <h4>{{ .TransactionsSkipped }}{{ if ge .TransactionsSkipped 0 }} &#x26A0; {{ end }}</h4>
  </div>
</div>
