<h2>Net worth</h2>

<div style="padding-left: 10%; padding-right: 10%;">
  <div class="btn-group" style="width: 100%; padding-left: 10%; padding-right: 10%;" role="group" aria-label="date range buttons">
    <button
      type="button"
      class="btn {{ if .AllTimeActive }}btn-dark{{else}}btn-outline-dark{{end}}"
      hx-get="/net-worth?relativeWindow=allTime"
      hx-target="#reportContent"
      hx-swap="innerHTML">
      All time
    </button>
    <button
      type="button"
      class="btn {{ if .Last12MonthsActive }}btn-dark{{else}}btn-outline-dark{{end}}"
      hx-get="/net-worth?relativeWindow=12"
      hx-target="#reportContent"
      hx-swap="innerHTML">
      Last 12 months
    </button>
    <button
      type="button"
      class="btn {{ if .Last6MonthsActive }}btn-dark{{else}}btn-outline-dark{{end}}"
      hx-get="/net-worth?relativeWindow=6"
      hx-target="#reportContent"
      hx-swap="innerHTML">
      Last 6 months
    </button>
    <button
      type="button"
      class="btn {{ if .Last3MonthsActive }}btn-dark{{else}}btn-outline-dark{{end}}"
      hx-get="/net-worth?relativeWindow=3"
      hx-target="#reportContent"
      hx-swap="innerHTML">
      Last 3 months
    </button>
  </div>
  <canvas class="my-4 w-100" id="myChart"></canvas>
</div>

<script>
  /* globals Chart:false, feather:false */

(function () {
  'use strict'

  // Graphs
  var ctx = document.getElementById('myChart')
  // eslint-disable-next-line no-unused-vars
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {{ range $key, $value := .TotalByMonthAndType }}
        "{{ $key }}",
        {{ end }}
      ],
      datasets: [
        {
          label: 'Net Worth',
          fill: false,
          data: [
          {{ range $key, $value := .TotalByMonthAndType }}
          "{{ index $value "netWorth" }}",
          {{ end }}
          ],
          lineTension: 0.2,
          backgroundColor: '#000000',
          borderColor: '#000000',
          borderWidth: 4,
          borderDash: [5, 5],
          pointBackgroundColor: '#000000'
        },
        {
          label: 'Assets',
          fill: true,
          data: [
          {{ range $key, $value := .TotalByMonthAndType }}
          "{{ index $value "assets" }}",
          {{ end }}
          ],
          lineTension: 0.2,
          backgroundColor: '#198754',
          borderColor: '#198754',
          borderWidth: 4,
          pointBackgroundColor: '#198754'
        },
        {
          label: 'Liabilities',
          fill: true,
          data: [
          {{ range $key, $value := .TotalByMonthAndType }}
          "{{ index $value "liabilities" }}",
          {{ end }}
          ],
          lineTension: 0.2,
          backgroundColor: '#dc3545',
          borderColor: '#dc3545',
          borderWidth: 4,
          pointBackgroundColor: '#dc3545'
        }
      ]
    },
    options: {
      scales: {
        y: {
            ticks: {
                // Include a dollar sign in the ticks
                callback: function(value, index, ticks) {
                    return '$' + value;
                }
            }
        }
      },
      legend: {
        display: true
      }
    }
  })
})()

</script>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th style="text-align: right;" scope="col">Assets</th>
        <th style="text-align: right;" scope="col">Liabilities</th>
        <th style="text-align: right;" scope="col">Net Worth</th>
      </tr>
    </thead>
    <tbody>
      {{ range $key, $value := .TotalByMonthAndType }}
      <tr>
        <td>{{ $key }}</td>
        <td style="text-align: right;">${{ index $value "humanizedAssets" }}</td>
        <td style="text-align: right;">${{ index $value "humanizedLiabilities" }}</td>
        <td style="text-align: right;">${{ index $value "humanizedNetWorth" }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
