<h2>Net worth</h2>
<div style="padding-left: 100px; padding-right: 100px;">
  <canvas class="my-4 w-100" id="myChart"></canvas>
</div>

<script>
  /* globals Chart:false, feather:false */

(function () {
  'use strict'

  // Graphs
  var ctx = document.getElementById('myChart')
  // eslint-disable-next-line no-unused-vars
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {{ range $key, $value := .DataPoints }}
        "{{ $key }}",
        {{ end }}
      ],
      datasets: [
        {
          label: 'Net Worth',
          fill: false,
          data: [
          {{ range $key, $value := .DataPoints }}
          "{{ index $value "netWorth" }}",
          {{ end }}
          ],
          lineTension: 0,
          backgroundColor: '#000000',
          borderColor: '#000000',
          borderWidth: 4,
          borderDash: [5, 5],
          pointBackgroundColor: '#000000'
        },
        {
          label: 'Assets',
          fill: true,
          data: [
          {{ range $key, $value := .DataPoints }}
          "{{ index $value "assets" }}",
          {{ end }}
          ],
          lineTension: 0,
          backgroundColor: '#198754',
          borderColor: '#198754',
          borderWidth: 4,
          pointBackgroundColor: '#198754'
        },
        {
          label: 'Liabilities',
          fill: true,
          data: [
          {{ range $key, $value := .DataPoints }}
          "{{ index $value "liabilities" }}",
          {{ end }}
          ],
          lineTension: 0,
          backgroundColor: '#dc3545',
          borderColor: '#dc3545',
          borderWidth: 4,
          pointBackgroundColor: '#dc3545'
        }
      ]
    },
    options: {
      scales: {
        y: {
            ticks: {
                // Include a dollar sign in the ticks
                callback: function(value, index, ticks) {
                    return '$' + value;
                }
            }
        }
      },
      legend: {
        display: true
      }
    }
  })
})()

</script>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Assets</th>
        <th scope="col">Liabilities</th>
        <th scope="col">Net Worth</th>
      </tr>
    </thead>
    <tbody>
      {{ range $key, $value := .DataPoints }}
      <tr>
        <td>{{ $key }}</td>
        <td>${{ index $value "assets" }}</td>
        <td>${{ index $value "liabilities" }}</td>
        <td>${{ index $value "netWorth" }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>