<h2>Spending by category</h2>

<div style="padding-left: 10%; padding-right: 10%;">
  <div class="btn-group" style="width: 100%; padding-left: 10%; padding-right: 10%;" role="group" aria-label="date range buttons">
    <button
      type="button"
      class="btn {{ if .AllTimeActive }}btn-dark{{else}}btn-outline-dark{{end}}"
      hx-get="/spending-by-category?relativeWindow=allTime"
      hx-target="#reportContent"
      hx-swap="innerHTML">
      All time
    </button>
    <button
      type="button"
      class="btn {{ if .Last12MonthsActive }}btn-dark{{else}}btn-outline-dark{{end}}"
      hx-get="/spending-by-category?relativeWindow=12"
      hx-target="#reportContent"
      hx-swap="innerHTML">
      Last 12 months
    </button>
    <button
      type="button"
      class="btn {{ if .Last6MonthsActive }}btn-dark{{else}}btn-outline-dark{{end}}"
      hx-get="/spending-by-category?relativeWindow=6"
      hx-target="#reportContent"
      hx-swap="innerHTML">
      Last 6 months
    </button>
    <button
      type="button"
      class="btn {{ if .Last3MonthsActive }}btn-dark{{else}}btn-outline-dark{{end}}"
      hx-get="/spending-by-category?relativeWindow=3"
      hx-target="#reportContent"
      hx-swap="innerHTML">
      Last 3 months
    </button>
  </div>
  <div style="width: 100%; padding-left: 10%; padding-right: 10%;">
    <canvas class="my-4 w-100" id="myChart"></canvas>
  </div>
</div>

<script>
  /* globals Chart:false, feather:false */

(function () {
  'use strict'

  // Graphs
  var ctx = document.getElementById('myChart')
  // eslint-disable-next-line no-unused-vars
  var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
      labels: [
        {{ range $spendingByCategory := .SpendingByCategories }}
        "{{ $spendingByCategory.Category }}",
        {{ end }}
      ],
      datasets: [{
        data: [
          {{ range $spendingByCategory := .SpendingByCategories }}
          {{ $spendingByCategory.Amount }},
          {{ end }}
        ],
      }]
    },
    options: {
      legend: {
        display: true
      }
    }
  })
})()

</script>

<div class="table-responsive col-lg-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th style="text-align: right;" scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      {{ range $spendingByCategory := .SpendingByCategories }}
      <tr>
        <td>{{ $spendingByCategory.Category }}</td>
        <td style="text-align: right;">${{ $spendingByCategory.AmountHumanized }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>